# dotNet Build
/.vs
/**/bin
/**/obj

# Visual Studio files
*.user

# VS Code Debug/Build
/.vscode
/hosts/SourceData.Api/Properties/launchSettings.json

# Ignore Docker build items
/out

# Ignore test results
/TestResults